.menu {
  background-image: url('src/assets/menu-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
  opacity: 0;
  transition: 400ms opacity ease;
}